
.uv_index_table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
  }
  td {
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
  }
  #c1 {
    background-color: rgb(51, 184, 65);
  }
  #c2 {
    background-color: rgb(254, 197, 75);
  }
  #c3 {
    background-color: rgb(255, 114, 67);
  }
  #c4 {
    background-color: rgb(253, 1, 34);
  }
  #c5 {
    background-color: rgb(134, 115, 246);
  }
